p, span, a, div, li {
    font-family: 'Ubuntu', sans-serif !important;
}

input:focus, textarea:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: #ff9740 !important;
}

.logo-color {
    color: #ff7400 !important;
}

.secondary-logo-color {
    color: #ff4d00 !important;
}

.tertiary-logo-color {
    color: #ff9740 !important;
}

.additional-logo-color {
    color: #86a0d7 !important;
}

.logo-background-color {
    background-color: #ff7400 !important;
}

.secondary-logo-background-color {
    background-color: #ff4d00 !important;
}

.tertiary-logo-background-color {
    background-color: #ff9740 !important;
}

.additional-logo-background-color {
    background-color: #86a0d7 !important;
}

.primary-logo-hover-color:hover {
    color: #ff7400 !important;
    transition-delay: 0.1s !important;
    transition-duration: 0.1s !important;
}

.secondary-logo-hover-color:hover {
    color: #ff4d00 !important;
    transition-delay: 0.1s !important;
    transition-duration: 0.1s !important;
}

.tertiary-logo-hover-color:hover {
    color: #ff9740 !important;
    transition-delay: 0.1s !important;
    transition-duration: 0.1s !important;
}

.additional-logo-hover-color:hover {
    color: #86a0d7 !important;
    transition-delay: 0.1s !important;
    transition-duration: 0.1s !important;
}

.primary-logo-button-color {
    background-color: #ff7400 !important;
    color: white !important;
}

.primary-logo-button-color:hover {
    background-color: #ff4d00 !important;
    transition-delay: 0.1s !important;
    transition-duration: 0.1s !important;
}

.secondary-logo-button-color {
    background-color: #ff4d00 !important;
    color: white !important;
}

.secondary-logo-button-color:hover {
    background-color: #ff7400 !important;
    transition-delay: 0.1s !important;
    transition-duration: 0.1s !important;
}

.tertiary-logo-button-color {
    background-color: #ff9740 !important;
    color: white !important;
}

.tertiary-logo-button-color:hover {
    background-color: #ff7400 !important;
    transition-delay: 0.1s !important;
    transition-duration: 0.1s !important;
}

.quaternary-logo-button-color {
    background-color: #86a0d7 !important;
    color: white !important;
}

.quaternary-logo-button-color:hover {
    background-color: #7090d6 !important;
    transition-delay: 0.1s !important;
    transition-duration: 0.1s !important;
}

.logo-link-color {
    color: #ff7400 !important;
    cursor: pointer !important;
}

.logo-link-color:hover {
    color: #ff4d00 !important;
    transition-delay: 0.1s !important;
    transition-duration: 0.1s !important;
    text-decoration: underline !important;
}

.label-alert {
    color: red !important;
}

.input-alert {
    border: 2px solid red !important;
}

.icon-eye {
    position: absolute;
    right: 5%;
    top: 35%;
    width: 10%;
}

::placeholder {
    color: inherit !important;
}

.logo-header {
    width: 5% !important;
}

.pointer {
    cursor: pointer !important;
}

.clear-button {
    outline: none !important;
    box-shadow: none I !important;
    border: none !important;
}

.clear-button:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.custom-dropdown-item {
    display: block;
    width: 100%;
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    clear: both;
    font-weight: 400;
    color: var(--bs-dropdown-link-color);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    .color-primary {
        color: #ffffff !important;
    }

    .color-secondary {
        color: #f9f9f7 !important;
    }

    .color-tertiary {
        color: #edece6 !important;
    }

    .color-quaternary {
        color: #d8d6c4 !important;
    }

    .background-primary {
        background-color: #a59b9c !important;
    }

    .background-secondary {
        background-color: #292929 !important;
    }

    .background-tertiary {
        background-color: #202020 !important;
    }

    .background-quaternary {
        background-color: #191919 !important;
    }

    .primary-border {
        border: 1px solid #a59b9c !important;
    }

    .secondary-border {
        border: 1px solid #292929 !important;
    }

    .tertiary-border {
        border: 1px solid #202020 !important;
    }

    .quaternary-border {
        border: 1px solid #191919 !important;
    }

    .border-medium {
        border: 2px solid #292929;
    }

    .custom-dropdown-item:active {
        text-decoration: none;
        background-color: #a59b9c;
    }
}

/* Light Mode */
@media (prefers-color-scheme: light) {
    .color-primary {
        color: #191919 !important;
    }

    .color-secondary {
        color: #202020 !important;
    }

    .color-tertiary {
        color: #292929 !important;
    }

    .color-quaternary {
        color: #a59b9c !important;
    }

    .background-primary {
        background-color: #ffffff !important;
    }

    .background-secondary {
        background-color: #f9f9f7 !important;
    }

    .background-tertiary {
        background-color: #edece6 !important;
    }

    .background-quaternary {
        background-color: #d8d6c4 !important;
    }

    .border-medium {
        border: 2px solid #f9f9f7;
    }

    .custom-dropdown-item:active {
        text-decoration: none;
        background-color: #ffffff;
    }
}