@tailwind base;
@tailwind components;
@tailwind utilities;

p, span {
    font-family: 'Ubuntu', sans-serif !important;
}

input:focus {
    outline: none !important;
}

.logo-color {
    color: #ff7400 !important;
}

.secondary-logo-color {
    color: #ff4d00 !important;
}

.additional-logo-color {
    color: #86a0d7 !important;
}

.logo-background-color {
    background-color: #ff7400 !important;
}

.secondary-logo-background-color {
    background-color: #ff4d00 !important;
}

.additional-logo-background-color {
    background-color: #86a0d7 !important;
}

.logo-button-color {
    background-color: #ff7400 !important;
    color: white !important;
}

.logo-button-color:hover {
    background-color: #ff4d00 !important;
    transition-delay: 0.1s !important;
    transition-duration: 0.1s !important;
}

.logo-link-color {
    color: #ff7400 !important;
    cursor: pointer !important;
}

.logo-link-color:hover {
    color: #ff4d00 !important;
    transition-delay: 0.1s !important;
    transition-duration: 0.1s !important;
}

.label-alert {
    color: red !important;
}

.input-alert {
    border: 2px solid red !important;
}

.icon-eye {
    position: absolute;
    right: 5%;
    top: 35%;
    width: 10%;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    .color-primary {
        color: #ffffff !important;
    }

    .color-secondary {
        color: #f9f9f7 !important;
    }

    .color-tertiary {
        color: #edece6 !important;
    }

    .color-quaternary {
        color: #c6c3b0 !important;
    }

    ::placeholder {
        color: inherit !important;
    }

    .background-primary {
        background-color: #a59b9c !important;
    }

    .background-secondary {
        background-color: #292929 !important;
    }

    .background-tertiary {
        background-color: #202020 !important;
    }

    .background-quaternary {
        background-color: #191919 !important;
    }

    .border-medium {
        border: 2px solid #292929;
    }
}

/* Light Mode */
@media (prefers-color-scheme: light) {
    .color-primary {
        color: #191919 !important;
    }

    .color-secondary {
        color: #202020 !important;
    }

    .color-tertiary {
        color: #292929 !important;
    }

    .color-quaternary {
        color: #a59b9c !important;
    }

    ::placeholder {
        color: inherit !important;
    }

    .background-primary {
        background-color: #ffffff !important;
    }

    .cbackground-secondary {
        background-color: #f9f9f7 !important;
    }

    .background-tertiary {
        background-color: #edece6 !important;
    }

    .background-quaternary {
        background-color: #c6c3b0 !important;
    }

    .border-medium {
        border: 2px solid #f9f9f7;
    }
}